---
interface Props {
  customClass?: boolean;
  src?: string;
  alt?: string;
  width?: number;
  height?: number;
}

const {
  customClass = false,
  src = './image22.png',
  alt = 'Particle Image',
  width = 500,
  height = 500,
} = Astro.props;
---

<div
  class={`particle-container`}
  data-image={src}
  data-width={width}
  data-height={height}
>
  <canvas class="flex"></canvas>
  <img src={src} alt={alt} class="hidden" />
</div>

<script>
  import { ParticleImage } from './ParticleImage';
  document.querySelectorAll('.particle-container').forEach((container) => {
    new ParticleImage(container);
  });
</script>

<style>
  .particle-container {
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0);
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
  }

  img {
    width: 100% !important;
  }
</style>
